<div class="row">
  <div class="col-md-6 full-height login-left">
    
    <p class="text-center text-white logo-name"><span class="fa fa-comment-o"></span> MeChat</p>
  </div>
  <div class="col-md-6 full-height login-right">
    <form name="form" [formGroup]="loginFormGroup" (submit)="login()" class="login-form">
      
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" formControlName="username" />
        <div *ngIf="loginFormGroup.controls['username'].errors && !loginFormGroup.controls['username'].pristine" class="error-msg">
          <div [hidden]="!loginFormGroup.controls['username'].errors.required">Username is required.</div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" formControlName="password" required />
        <div *ngIf="loginFormGroup.controls['password'].errors && !loginFormGroup.controls['password'].pristine" class="error-msg">
          <div [hidden]="!loginFormGroup.controls['password'].errors.required">Password is required.</div>
          <div [hidden]="!loginFormGroup.controls['password'].errors.minlength">Must be at least 8 characters.</div>
          <div [hidden]="!loginFormGroup.controls['password'].errors.hasNumber">Must contain at least 1 number.</div>
          <div [hidden]="!loginFormGroup.controls['password'].errors.hasCapitalCase">Must contain at least 1 in Capital Case.</div>
          <div [hidden]="!loginFormGroup.controls['password'].errors.hasSmallCase">Must contain at least 1 Letter in Small Case.</div>
          <div [hidden]="!loginFormGroup.controls['password'].errors.hasSpecialCharacters">Must contain at least 1 Special Character.</div>
        </div>
      </div>
      
      <div class="form-group">
        <button type="submit" [disabled]="!loginFormGroup.valid" class="btn btn-block btn-lg me-chat-button mt-5">Login</button>
      </div>
    </form>
    
    <p>
      New Member? <a routerLink="/register">Register</a>
    </p>
  </div>
</div>